* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* That a style for index.html */

.title {
    text-align: center;
    font-size: 40px;
    background: yellow;
}

.main {
    color: rgb(6, 6, 128);
    background: green;
    font-size: 18px;
    line-height:22px;
    font-weight: 400;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    border: 5px solid rgb(4, 4, 60);
    padding: 20px;
    margin-top: 35px;
}

p {
    color: pink;
    font-size: 25px;
}

header, main, footer{
    margin-bottom: 10px;
}

.top > div + div, .top > div{
    margin-top: 30px;
    text-align: center;
}

ul{
    margin-top: 20px;
}

.botton_img{
    margin-bottom: 20px;

}

.container{
    background: grey;
}

footer{
    background: blueviolet;
    text-align: right;
    padding-right: 30px;
    margin-top: 30px;
    font-size: 20px;
}

/* That a style for table.html */

table, td, th {
    border: 2px solid blueviolet;
}
th{
    background: pink;
}

.some_link{
    text-decoration: none;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    background: grey;
}

caption{
    font-weight: 800;
    background: red;
}

.col_1{
    background: yellow;
}

.col_2{
    background: aqua;
}